<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001Polyphemus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,1130},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001TheMissingPage(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,1130},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001TheRelic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1317,1130},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>028Isaac_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{439,614}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,1130},{439,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DxjS40aU0AAEM4Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,1130}</string>
                <key>spriteSourceSize</key>
                <string>{880,1200}</string>
                <key>textureRect</key>
                <string>{{0,0},{810,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DxjS40bUYAAfRo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,1130}</string>
                <key>spriteSourceSize</key>
                <string>{880,1200}</string>
                <key>textureRect</key>
                <string>{{810,0},{810,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{1756,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:625cc321be9dc5865c63a79636571cb9:555912e545f1ba185da25881e1c619d6:21cfc435f3430c19d217f8c6ac1a5a48$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
