<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>004ChargedBaby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004HeadoftheKeeper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004Placenta(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>017GameBreakingBug_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>017Polydactyl(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>018BellyButton(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>039ShinyRock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>040MidasTouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>041EdensBLessing(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1317,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>078SackofPennies(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>079JawBone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1317,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>080Boomerang(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1317,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1756,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:625cc321be9dc5865c63a79636571cb9:555912e545f1ba185da25881e1c619d6:21cfc435f3430c19d217f8c6ac1a5a48$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
