<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001Dip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1431,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>005Fatty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006RoundWorm(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{954,1246},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006Spider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,632},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006Tumor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{477,0},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>007Imp(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1393,632},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>028Isaac_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{439,614}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{954,632},{439,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>029Portal(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,1264},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>030MomsDeadHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{477,632},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>031Greedling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{954,0},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>089Envy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1393,1244},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107Delirium(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{477,1264},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1870,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c4f3e14fc89bb1d2c5e918e309a0614:480f37fbd3f37815ac6dbd1793bda521:21cfc435f3430c19d217f8c6ac1a5a48$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
