<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>017Dinga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>017HeadTrauma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,632},{477,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>018AngelRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{477,0},{477,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>043HolyKeeperHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1109,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>044HolySquirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1109,612},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>057SecretRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{632,477},{477,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>058XLFLoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,1109},{477,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>059ShopUpgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{477,632}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{632,1109},{477,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>073Gurdy(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1548,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R3pZy0y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{479,650}</string>
                <key>textureRect</key>
                <string>{{1264,1051},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10.png</string>
            <key>size</key>
            <string>{1987,1663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c4f3e14fc89bb1d2c5e918e309a0614:480f37fbd3f37815ac6dbd1793bda521:21cfc435f3430c19d217f8c6ac1a5a48$</string>
            <key>textureFileName</key>
            <string>10.png</string>
        </dict>
    </dict>
</plist>
