<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>012PrayrCard(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{459,0},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>013TwoofDiamonds(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1071,0},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>015Sack(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{459,439},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>049ButterBean1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1071,439},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>055Bomb!1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{459,878},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>059GoldBomb(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{459,1490},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>081GuppysHairball(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{898,878},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>087IVTheEmperor(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1071,1490},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>090VIITheChariot(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{459,650}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{459,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>091VIIIJustice(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{459,650}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{459,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>092IXTheHermit(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{459,650}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{459,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1683,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a1ff7bf63f549cd2f56c015760bc39:aec19c6f36ba26d06cd670fb4102b977:1a87a61bbfa0fc7fbbff30e45c2a9db3$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
