<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001Guppy(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{479,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001Isaac(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>001TheLost(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002Bumbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{479,650}</string>
                <key>textureRect</key>
                <string>{{0,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002Cain(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002TheKeeper(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003Azazel(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003Maggy(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003WhoreofBabylon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{479,650}</string>
                <key>textureRect</key>
                <string>{{1317,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004Apollyon(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{878,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004DarkJudas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{479,650}</string>
                <key>textureRect</key>
                <string>{{1317,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004Judas(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1317,1224},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{1756,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57fcbe968da4a0d5032a5bd03a685ea4:19cb5d3b58cbabd033d22ccc5d71bb88:5860a4f346f37795b1a19289ed8b2d69$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
