<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>005Samson(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006Eve(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{0,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>007Lilith(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,0},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>008BlueBaby(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1051,0},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>009Lazarus(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,439},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>010TheForgotten(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1051,612},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>011Eden(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{439,878},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1490,1317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57fcbe968da4a0d5032a5bd03a685ea4:19cb5d3b58cbabd033d22ccc5d71bb88:5860a4f346f37795b1a19289ed8b2d69$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
