<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001D6(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1130,0},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>001HolyMantle(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{810,439},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002SleightofHand(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1249,439},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>002WoodenNickel(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1249,878},{439,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>003LordofthePit(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1130,1317},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003YumHeart(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,612}</string>
                <key>spriteSourceSize</key>
                <string>{477,650}</string>
                <key>textureRect</key>
                <string>{{1569,1317},{439,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DicU3D6UYAANG-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{810,1130}</string>
                <key>spriteSourceSize</key>
                <string>{880,1200}</string>
                <key>textureRect</key>
                <string>{{0,0},{810,1130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DxjT5OFVAAEskkV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,1130}</string>
                <key>spriteSourceSize</key>
                <string>{880,1200}</string>
                <key>textureRect</key>
                <string>{{0,1130},{810,1130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{2008,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54b3b5e032d75a6f3b788745106dfda:bf6524d2a7eb4f14a0d684b004dd3d26:5860a4f346f37795b1a19289ed8b2d69$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
